
@font-face {
    font-family: "segoe-wp-semilight";
    src: url("../../fonts/Segoe WP SemiLight.ttf");
}


.addField {
    width: 100%;
    height: 65px;
    display: flex;
}
.addField input {
    width: 80%;
    height: 25px;
    position: relative;
    font-size: 22px;
    outline: none;
    border: none;
    padding: 20px;
    font-family: segoe-wp-semilight;
}
.addField button {
    outline: none;
    border: none;
    font-size: 30px;
    color: gray;
    background-color: white;
    width:80px;
    height: 65px;
}
